# Base de datos
DB_USER=tu_usuario
DB_PASSWORD=tu_contraseña
DB_HOST=localhost
DB_PORT=1433
DB_NAME=deliverit

# JWT
JWT_SECRET_KEY=genera_una_clave_segura_con_secrets.token_urlsafe(32)
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
